{% extends "layout.html" %}
{% block title %}Форма email сообщений{% endblock %}
{% block content %}
    <h1>Форма email сообщений</h1>
    {% if result == True %}
        <div class="alert alert-success" role="alert">
            Сообщение успешно отправлено!
        </div>
    {% endif %}
    {% if result == False %}
        <div class="alert alert-danger" role="alert">
            Ошбика при отправке сообщения!
            <ul>
                {% for error in error_list %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post" action="/send" enctype="multipart/form-data">
        <div class="form-group">
            <label>Email адрес отправителя</label>
            <input type="text" name="email_from" class="form-control" {% if form_data %}value="{{ form_data['email_from'] }}"{% endif %} placeholder="Enter email">
        </div>
        <div class="form-group">
            <label>Пароль email адреса отправителя</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label>Email адрес получателя</label>
            <input type="text" name="email_to" class="form-control" {% if form_data %}value="{{ form_data['email_to'] }}"{% endif %} placeholder="Enter email">
        </div>
        <div class="form-group">
            <label>Сообщение</label>
            <textarea name="message" class="form-control" placeholder="Введите текст письма">{% if form_data %}{{ form_data['message'] }}{% endif %}</textarea>
        </div>
        <div class="form-group">
            <label>Файл</label>
            <input type="file" name="attach_file" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}