<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - My Webpage</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Тест форма</h5>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
        {% block footer %}
        {% endblock %}
    </div>
</footer>
</body>
</html>